<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-alert border="left" colored-border :type="lastUpdateLevel" elevation="2">
            Last Updated: {{ lastUpdateMins }} minute(s) ago
          </v-alert>
          <v-alert v-for="msg in status.warnings" v-bind:key="msg" border="left" colored-border type="error" elevation="2">
            {{ msg }}
          </v-alert>
          <v-alert v-for="msg in status.messages" v-bind:key="msg" border="left" colored-border type="success" elevation="2">
            {{ msg }}
          </v-alert>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          lastUpdateMins: 0,
          status: {},
          testing: "success"
        }
      },
      computed: {
        lastUpdateLevel() {
          return (this.lastUpdateMins > 10) ? 'error' : 'success';
        }
      },
      methods: {
        getStatus() {
          axios
            .get("/status.json")
            .then(response => {
              this.status = response.data;
              const now = Math.floor(Date.now() / 1000)
              const timeDeltaSeconds = now - this.status.timestamp;
              this.lastUpdateMins = Math.floor(timeDeltaSeconds / 60);
            });
        }
      },
      mounted() {
        this.getStatus();
        window.setInterval(this.getStatus, 60000);
      },
    })
  </script>
</body>
</html>
